# 智谱开放平台 API Key
# 获取地址: https://open.bigmodel.cn/
BIGMODEL_API_KEY=a24a7561787e478ab6bfa3195dcb6d16.6xoLLm1GivthHfOB

# 通常不需要改
AUTOGLM_BASE_URL=https://open.bigmodel.cn/api/paas/v4
AUTOGLM_MODEL=autoglm-phone

# 如果电脑连了多台 Android 设备，请填写 adb devices 中的序列号
# ANDROID_SERIAL=emulator-5554
